@charset 'utf-8';

/* 공통 */
*{
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #fff;
    height: 100%;
}
.wrap{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
a, a:hover, a:link, a:active{
    text-decoration: none;
    color: #222;
}
b, strong{
    font-weight: 600px;
}
ul, li{
    list-style: none;
}

/* 헤더 */
header{

}

.top{
    background-color: #1b4fa0;
    width: 100%;
}
.top .bg{
    float: left;
    background-color: #143b78;
    color: #fff;
    font-size: 0.8rem;
    padding: 10px 20px;
}
.top .bg:hover{
    color: #eee;
}
.top .gnb{
    text-align:right;

}
.top .gnb li{
    display: inline-block;
}
.top .gnb li a{
    color: #fff;
    display: block;
    padding: 10px 15px;
    font-size: 0.8rem;
}
.top .bg:hover{
    color: #eee;
}
nav{
    background-color: #eee;
}
nav .logo{
    float: left;
    padding: 16px 0;
}
nav .lnb li{
    display: inline-block;
    width: 15%;
}
nav .lnb li a{
    display: block;
    padding: 27px 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
nav .lnb li a:hover{
    color: #005baa;
}